{% extends 'base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'social_media/login.css'%}">
{% endblock %}

{% block content %}
    <form method="post" id="login">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form.as_p }}
        </fieldset>

        <div>
            <input class="leaf-btn" type="submit" value="Login" />

            <a class="leaf-btn" href="{% url 'social_media:register' %}" >Criar conta</a>
        </div>
    </form>
    <footer class="slogan typed-text">WikiBook, um ponto de vista diferente da Wikipédia.</footer>
{% endblock %}
