{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'social_media/user_forms.css' %}">
{% endblock %}

{% block content %}

<form method="post" id="password_change">
    {% csrf_token %}
    <fieldset>
        <legend>
            Password Change
        </legend>
    {{ form.as_p }}
    </fieldset>
        <div>
            <input class="leaf-btn" type="submit" value="Send data" />
            <a class="leaf-btn" href="{% url 'social_media:profile' user_id=request.user.id %}">Back to Profile</a>
        </div>
</form>

{% endblock %}