{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Novo usuário</legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="Create User"/>
        <a href="{% url 'social_media:login' %}">Página de login</a>
    </form>

    {% if field_errors %}
        <div id="create_user_errors" style="background-color: tomato;">
            {{ field_errors }}
        </div>
    {% endif %}
{% endblock %}