<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WikiBook</title>
        {% load static %}
        <link rel="shortcut icon"
              href="{% static 'social_media/images/favicon.png' %}"
              type="image/x-icon">
        <script src="{% static 'social_media/main.js'%}"></script>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'social_media/css/global.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body onload="_trigger();">
        {% block content %}Default block{% endblock %}
    </body>
</html>
