{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'social_media/css/search_user.css' %}">
{% endblock %}
{% block content %}
    {% include "home_bar.html" %}
    <form method="get">
        {% csrf_token %}
        <input type="text"
               id="id_username_search"
               name="username_search"
               value=""
               placeholder="username">
        <input class="default-btn" type="submit" value="Search">
    </form>
    <div class="container-users">
        {% for profile in found_profiles %}
            <a href="#" class="display-user">
                <img alt="Imagem de usuario"
                     width="125"
                     height="125"
                     src="{{ profile.image_link }}">
                <p>@{{ profile.user.username }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
