{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'social_media/css/search_user.css' %}">
{% endblock %}
{% block content %}
    <form method="get">
        {% csrf_token %}
        <input type="text"
               id="id_username_search"
               name="username_search"
               value=""
               placeholder="username">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for profile in found_profiles %}
            <li>
                <img alt="Imagem de usuario"
                     width="225"
                     height="225"
                     src="{{ profile.image_link }}">
                {{ profile.user.username }}
            </li>
        {% endfor %}
    </ul>
    <a class="default-btn" href="{% url 'social_media:index' %}">Back to feed</a>
{% endblock %}
