@import url("global.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100vh;
}

form#password_change {
  color: var(--clr-fg0);
  width: 480px;
  padding: 10px;
}

form#password_change legend {
  font-size: 3rem;
  font-family: var(--font-cursive);
  text-align: center;
}

form#password_change fieldset {
  display: flex;
  flex-direction: column;

  gap: 10px;

  border: 0;
}

form#password_change p {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;

  justify-content: space-between;
  gap: 10px;
}

form#password_change label {
  font-size: 1.1rem;
  font-weight: 600;
}

form#password_change input[type="text"] {
  text-align: left;
  font-family: var(--font-serif);
  font-size: 1.1rem;

  text-align: center;
  background-color: var(--clr-bg4);
  color: var(--clr-fg0);
  font-family: var(--font-serif);
}

form#password_change input[type="checkbox"]:checked {
  accent-color: var(--clr-bg4);
}

form#password_change input:focus {
  transition: 0.35s;
  box-shadow: 0px 0px 2px 2px var(--clr-yellow);
}

form#password_change ul {
  line-height: 1.5;
  order: 2;
}

form#password_change span {
  display: none;
}

p:empty {
  order: 1;
}

.center-static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
